*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;;
}
header{
    display: flex;
    height: 80px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #b6b1b1;


}
.myntra_home{
    height: 45px;
}
.logo_container{
    margin-left: 4%;

}
.nav_bar{
    display: flex;
    width: 600px;
    min-width: 40%;
    justify-content: space-evenly;
}
.nav_bar a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;

}
.nav_bar a:hover{
    border-bottom: 4px solid #f54e77;
}
.sup{
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
    height: 40px;
    width: 30%;
    min-width: 200px;
    display: flex;
    align-items: center;
}
.search_icon{
  box-sizing: content-box;
  padding: 10px;
  height: 20px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
    outline: none;
}
.action_bar{
    display: flex;
    margin-right: 4%;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* main section */
.banner_container{
    margin: 40px 0;
}
.banner_image{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale_item{
    width: 250px;
}
/* Footer section */
.footer_container{
    padding: 30px 0 40px 0 ;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
   display: flex;
   flex-direction: column;

}
.footer_column a{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer_column h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.footer_h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top: 23px;
    padding-bottom: 0;
}
.footer_pra{
    margin-top: 0;
    color: #696b79;
    font-size: 15px;

}
.footer_container2{
    background-color: #fafbfc;
    justify-content: space-evenly;
}
.copyright{
    color: #94969f;
    text-align: center;
    padding: 15px;
}